#buttons {
    margin: 0 auto;
}

.menubtn {
    border: 0.25px black solid;
}

.star {
    font-size: 1.2rem;
    color: blue;
}

#picbg {
    width: 100%;
    height: auto;
    display: block;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.workimg img {
    object-fit: cover;
    opacity: 0.2;
}

/* md(>=768px) */
@media (min-width: 768px) {
    .menubtn {
        height: 3em;
    }
}

/* lg(>=992px) */
@media (min-width: 992px) {
    .menubtn {
        height: 4rem;
        font-size: 1.5rem;
    }
}
